
 h1{
color: beige;
text-align: center;
text-decoration: none;
 }
 h2{
    color: beige;
text-align: center;
text-decoration: none;
 }

a { text-decoration: none;
    text-align: left;
color: beige;}
body {
    background-color: rgb(119, 32, 44);
    color: beige;
    
}

h3 { color: beige;
    text-align: center;
    text-decoration: none;

}